doctype html
html(ng-app="app")
    head
        title Shall We Play a game?
        link(href='https://fonts.googleapis.com/css?family=Arvo:400,700|Ubuntu' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="assets/css/main.css")
    body
        .flex#startScreen
            button(name="gameStart" id="startButton") Begin Game
            
        #cardTable
            .flex
                #thisHand.flex
    
        form#cardConfigs.flex-column(method="GET")
            div.introConfig
                label(name="numberOfPlayers") How many players are playing?
                div.inputContainer
                    input(type="text" name="numberOfPlayers")
            
            div#playerNames.introConfig.flex-column
                label(for="playerNames") What are their names?
                div.inputContainer
                

            div.introConfig
                label(name="aceHigh") Aces high?
                div.inputContainer
                    input#acesHigh(type="radio" name="aceHigh" value="true" checked)
                    label(for="acesHigh") Yes
                    div.newRadio
                div.inputContainer
                    input#acesLow(type="radio" name="aceHigh" value="false")
                    label(for="acesLow") Nope
                    div.newRadio

                        //- Grid Data-Structure Concept:
                        //- TODO: Cards will carry their own values for card and suit. This will be "split" during configuration.
                        //- TODO: Suit Buttons will only be for checking/unchecking entire suits at a time

             div#allCardsConfig.introConfig
                div#cardGrid.flex
                    div.cardGrid-Cards.cardGridRow
                        div.inputContainer
                            label(for="All") All
                                input(type="checkbox" id="All" data-suit="all" value="all-all" checked)
                        div.inputContainer
                            label(for="AllAce") Ace
                                input(type="checkbox" id="AllAce" data-suit="all" value="Ace-all" checked)
                        div.inputContainer
                            label(for="All2") 2
                                input(type="checkbox" id="All2" data-suit="all" value="2-all" checked)
                        div.inputContainer
                            label(for="All3") 3
                                input(type="checkbox" id="All3" data-suit="all" value="3-all" checked)
                        div.inputContainer
                            label(for="All4") 4
                                input(type="checkbox" id="All4" data-suit="all" value="4-all" checked)
                        div.inputContainer
                            label(for="All5") 5
                                input(type="checkbox" id="All5" data-suit="all" value="5-all" checked)
                        div.inputContainer
                            label(for="All6") 6
                                input(type="checkbox" id="All6" data-suit="all" value="6-all" checked)
                        div.inputContainer
                            label(for="All7") 7
                                input(type="checkbox" id="All7" data-suit="all" value="7-all" checked)
                        div.inputContainer
                            label(for="All8") 8
                                input(type="checkbox" id="All8" data-suit="all" value="8-all" checked)
                        div.inputContainer
                            label(for="All9") 9
                                input(type="checkbox" id="All9" data-suit="all" value="9-all" checked)
                        div.inputContainer
                            label(for="All10") 10
                                input(type="checkbox" id="All10" data-suit="all" value="10-all" checked)
                        div.inputContainer
                            label(for="AllJack") Jack
                                input(type="checkbox" id="AllJack" data-suit="all" value="Jack-all" checked)
                        div.inputContainer
                            label(for="AllQueen") Queen
                                input(type="checkbox" id="AllQueen" data-suit="all" value="Queen-all" checked)
                        div.inputContainer
                            label(for="AllKing") King
                                input(type="checkbox" id="AllKing" data-suit="all" value="King-all" checked)
                    div.cardGrid-Spades.cardGridRow
                        div.inputContainer
                            label(for="AllSpades") Spades
                            input(type="checkbox" class="master" id="AllSpades" value="spade" checked) 
                        div.inputContainer
                            label(for="SpadesAce") Ace
                                input(type="checkbox" id="SpadesAce" name="cards" data-suit="spade" value="Ace-spade" checked)
                        div.inputContainer
                            label(for="Spades2") 2
                                input(type="checkbox" id="Spades2" name="cards" data-suit="spade" value="2-spade" checked)
                        div.inputContainer
                            label(for="Spades3") 3
                                input(type="checkbox" id="Spades3" name="cards" data-suit="spade" value="3-spade" checked)
                        div.inputContainer
                            label(for="Spades4") 4
                                input(type="checkbox" id="Spades4" name="cards" data-suit="spade" value="4-spade" checked)    
                        div.inputContainer
                            label(for="Spades5") 5
                                input(type="checkbox" id="Spades5" name="cards" data-suit="spade" value="5-spade" checked)
                        div.inputContainer
                            label(for="Spades6") 6
                                input(type="checkbox" id="Spades6" name="cards" data-suit="spade" value="6-spade" checked)   
                        div.inputContainer
                            label(for="Spades7") 7
                                input(type="checkbox" id="Spades7" name="cards" data-suit="spade" value="7-spade" checked)                    
                        div.inputContainer
                            label(for="Spades8") 8
                                input(type="checkbox" id="Spades8" name="cards" data-suit="spade" value="8-spade" checked)                    
                        div.inputContainer
                            label(for="Spades9") 9
                                input(type="checkbox" id="Spades9" name="cards" data-suit="spade" value="9-spade" checked)
                        div.inputContainer
                            label(for="Spades10") 10
                                input(type="checkbox" id="Spades10" name="cards" data-suit="spade" value="10-spade" checked)
                        div.inputContainer
                            label(for="SpadesJack") Jack
                                input(type="checkbox" id="SpadesJack" name="cards" data-suit="spade" value="Jack-spade" checked)
                        div.inputContainer
                            label(for="SpadesQueen") Queen
                                input(type="checkbox" id="SpadesQueen" name="cards" data-suit="spade" value="Queen-spade" checked)
                        div.inputContainer
                            label(for="SpadesKing") King
                                input(type="checkbox" id="SpadesKing" name="cards" data-suit="spade" value="King-spade" checked)
                    div.cardGrid-Hearts.cardGridRow
                        div.inputContainer
                            label(for="AllHearts") Hearts
                                input(type="checkbox" class="master" id="AllHearts" value="heart" checked)
                        div.inputContainer
                            label(for="HeartsAce") Ace
                                input(type="checkbox" id="HeartsAce" name="cards" data-suit="heart" value="Ace-heart" checked)
                        div.inputContainer
                            label(for="Hearts2") 2
                                input(type="checkbox" id="Hearts2" name="cards" data-suit="heart" value="2-heart" checked)
                        div.inputContainer
                            label(for="Hearts3") 3
                                input(type="checkbox" id="Hearts3" name="cards" data-suit="heart" value="3-heart" checked)
                        div.inputContainer
                            label(for="Hearts4") 4
                                input(type="checkbox" id="Hearts4" name="cards" data-suit="heart" value="4-heart" checked)    
                        div.inputContainer
                            label(for="Hearts5") 5
                                input(type="checkbox" id="Hearts5" name="cards" data-suit="heart" value="5-heart" checked)
                        div.inputContainer
                            label(for="Hearts6") 6
                                input(type="checkbox" id="Hearts6" name="cards" data-suit="heart" value="6-heart" checked)   
                        div.inputContainer
                            label(for="Hearts7") 7
                                input(type="checkbox" id="Hearts7" name="cards" data-suit="heart" value="7-heart" checked)                    
                        div.inputContainer
                            label(for="Hearts8") 8
                                input(type="checkbox" id="Hearts8" name="cards" data-suit="heart" value="8-heart" checked)                    
                        div.inputContainer
                            label(for="Hearts9") 9
                                input(type="checkbox" id="Hearts9" name="cards" data-suit="heart" value="9-heart" checked)
                        div.inputContainer
                            label(for="Hearts10") 10
                                input(type="checkbox" id="Hearts10" name="cards" data-suit="heart" value="10-heart" checked)
                        div.inputContainer
                            label(for="HeartsJack") Jack
                                input(type="checkbox" id="HeartsJack" name="cards" data-suit="heart" value="Jack-heart" checked)
                        div.inputContainer
                            label(for="HeartsQueen") Queen
                                input(type="checkbox" id="HeartsQueen" name="cards" data-suit="heart" value="Queen-heart" checked)
                        div.inputContainer
                            label(for="HeartsKing") King
                                input(type="checkbox" id="HeartsKing" name="cards" data-suit="heart" value="King-heart" checked)
                    div.cardGrid-Clubs.cardGridRow
                        div.inputContainer
                            label(for="AllClubs") Clubs
                                input(type="checkbox" class="master" id="AllClubs" value="club" checked)                        
                        div.inputContainer
                            label(for="ClubsAce") Ace
                                input(type="checkbox" id="ClubsAce" name="cards" data-suit="club" value="Ace-club" checked)
                        div.inputContainer
                            label(for="Clubs2") 2
                                input(type="checkbox" id="Clubs2" name="cards" data-suit="club" value="2-club" checked)
                        div.inputContainer
                            label(for="Clubs3") 3
                                input(type="checkbox" id="Clubs3" name="cards" data-suit="club" value="3-club" checked)
                        div.inputContainer
                            label(for="Clubs4") 4
                                input(type="checkbox" id="Clubs4" name="cards" data-suit="club" value="4-club" checked)    
                        div.inputContainer
                            label(for="Clubs5") 5
                                input(type="checkbox" id="Clubs5" name="cards" data-suit="club" value="5-club" checked)
                        div.inputContainer
                            label(for="Clubs6") 6
                                input(type="checkbox" id="Clubs6" name="cards" data-suit="club" value="6-club" checked)   
                        div.inputContainer
                            label(for="Clubs7") 7
                                input(type="checkbox" id="Clubs7" name="cards" data-suit="club" value="7-club" checked)                    
                        div.inputContainer
                            label(for="Clubs8") 8
                                input(type="checkbox" id="Clubs8" name="cards" data-suit="club" value="8-club" checked)                    
                        div.inputContainer
                            label(for="Clubs9") 9
                                input(type="checkbox" id="Clubs9" name="cards" data-suit="club" value="9-club" checked)
                        div.inputContainer
                            label(for="Clubs10") 10
                                input(type="checkbox" id="Clubs10" name="cards" data-suit="club" value="10-club" checked)
                        div.inputContainer
                            label(for="ClubsJack") Jack
                                input(type="checkbox" id="ClubsJack" name="cards" data-suit="club" value="Jack-club" checked)
                        div.inputContainer
                            label(for="ClubsQueen") Queen
                                input(type="checkbox" id="ClubsQueen" name="cards" data-suit="club" value="Queen-club" checked)
                        div.inputContainer
                            label(for="ClubsKing") King
                                input(type="checkbox" id="ClubsKing" name="cards" data-suit="club" value="King-club" checked)
                    div.cardGrid-Diamonds.cardGridRow
                        div.inputContainer
                            label(for="AllDiamonds") Diamonds
                                input(type="checkbox" class="master" id="AllDiamonds" name="suits" value="diamond" checked)                        
                        div.inputContainer
                            label(for="DiamondsAce") Ace
                                input(type="checkbox" id="DiamondsAce" name="cards" data-suit="diamond" value="Ace-diamond" checked)
                        div.inputContainer
                            label(for="Diamonds2") 2
                                input(type="checkbox" id="Diamonds2" name="cards" data-suit="diamond" value="2-diamond" checked)
                        div.inputContainer
                            label(for="Diamonds3") 3
                                input(type="checkbox" id="Diamonds3" name="cards" data-suit="diamond" value="3-diamond" checked)
                        div.inputContainer
                            label(for="Diamonds4") 4
                                input(type="checkbox" id="Diamonds4" name="cards" data-suit="diamond" value="4-diamond" checked)    
                        div.inputContainer
                            label(for="Diamonds5") 5
                                input(type="checkbox" id="Diamonds5" name="cards" data-suit="diamond" value="5-diamond" checked)
                        div.inputContainer
                            label(for="Diamonds6") 6
                                input(type="checkbox" id="Diamonds6" name="cards" data-suit="diamond" value="6-diamond" checked)   
                        div.inputContainer
                            label(for="Diamonds7") 7
                                input(type="checkbox" id="Diamonds7" name="cards" data-suit="diamond" value="7-diamond" checked)                    
                        div.inputContainer
                            label(for="Diamonds8") 8
                                input(type="checkbox" id="Diamonds8" name="cards" data-suit="diamond" value="8-diamond" checked)                    
                        div.inputContainer
                            label(for="Diamonds9") 9
                                input(type="checkbox" id="Diamonds9" name="cards" data-suit="diamond" value="9-diamond" checked)
                        div.inputContainer
                            label(for="Diamonds10") 10
                                input(type="checkbox" id="Diamonds10" name="cards" data-suit="diamond" value="10-diamond" checked)
                        div.inputContainer
                            label(for="DiamondsJack") Jack
                                input(type="checkbox" id="DiamondsJack" name="cards" data-suit="diamond" value="Jack-diamond" checked)
                        div.inputContainer
                            label(for="DiamondsQueen") Queen
                                input(type="checkbox"  id="DiamondsQueen" name="cards" data-suit="diamond" value="Queen-diamond" checked)
                        div.inputContainer
                            label(for="DiamondsKing") King
                                input(type="checkbox" id="DiamondsKing" name="cards" data-suit="diamond" value="King-diamond" checked)
                    

            //- These will be broken out over the columns for correspending cards
            //- div.introConfig
            //-     label(name="suits") Which suits are you using?
            //-     div.inputContainer
            //-         input(type="checkbox" name="suits" value="heart" checked)
            //-         label(for="suits") Hearts
            //-     div.inputContainer
            //-         input(type="checkbox" name="suits" value="spade" checked)
            //-         label(for="suits") Spades
            //-     div.inputContainer
            //-         input(type="checkbox" name="suits" value="diamond" checked)
            //-         label(for="suits") Diamonds
            //-     div.inputContainer
            //-         input(type="checkbox" name="suits" value="club" checked)
            //-         label(for="suits") Clubs
                
            //- div.introConfig
            //-     label(name="cards") Which cards are included?
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="Ace" checked)
            //-         label(for="cards") Ace
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="2" checked)
            //-         label(for="cards") 2
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="3" checked)
            //-         label(for="cards") 3
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="4" checked)
            //-         label(for="cards") 4    
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="5" checked)
            //-         label(for="cards") 5
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="6" checked)
            //-         label(for="cards") 6   
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="7" checked)
            //-         label(for="cards") 7                    
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="8" checked)
            //-         label(for="cards") 8                    
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="9" checked)
            //-         label(for="cards") 9
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="10" checked)
            //-         label(for="cards") 10
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="Jack" checked)
            //-         label(for="cards") Jack
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="Queen" checked)
            //-         label(for="cards") Queen
            //-     div.inputContainer
            //-         input(type="checkbox" name="cards" value="King" checked)
            //-         label(for="cards") King
            
            .introConfig
                h2 Are you sure?
                input(type="submit" value="Yes!")
        div.pulse
        .innerPulse
        div.pulse
        .innerPulse
            
        script(src="assets/js/jquery-3.1.1.min.js")
        script(src="assets/js/scripts.js")
